name: Pipeline_Build_And_Run_Tests

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/**'

jobs:
  build-project:
    runs-on: ubuntu-latest
    name: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup .NET Core @ Latest
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x              
      - name: Restore solution
        run: dotnet restore src/BugStore.sln
      - name: Build solution (Release)
        run: dotnet build src/BugStore.sln --configuration Release --no-restore
      - name: Run unit tests (Release)
        run: dotnet test src/BugStore.sln --configuration Release --no-build      

